/*
Possible color palettes
#010E25#072C67#253A7F#899CEB#4D63B6
#08030F#361C6D#D64A9F#CC8CCD#7C469A
*/
body{
	 display: flex;
	justify-content: center;
align-items: center;
}

label{
	font-size: 1.1em;
	font-weight:bold;
}

#main{

	  align-self: center;
}

#starter-header{

}

.main-header{
	min-height:1em;
}


#everything-box{
	margin:7em 0em;
}
#everything-box form{
	padding:1em;
}
#libinsight{

}
